.rm01ButtonContainer {
  display: flex;
  margin-top: 1.5rem;
}

.rm01Button {
  margin: 0 0 0 0.6rem;
}

.rm01Button:last-of-type {
  margin-left: auto;
}

.winner-trophy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.rm01Button {
  background-color: var(--submitButton-green) ;
}
